body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 500px;
  max-width: 100%;
  background-color:#f8f9fab3 !important;
  top:15% !important;
}


.btn-primary
{
  background-color: transparent !important;
  color: #495057 !important;
  width:60% !important;
  font-size: 14px !important;
}


.text-newsletter
{
  color:#007bff9e;
}
